{% extends 'base.html.twig' %}

{% block body %}

    <h3>Nouveau message d'un utilisateur</h3>

    <p><b> {{ title }}</b> <i>envoyé par {{ firstname }} {{ lastname }}:</i></p>
    <p>{{ message }}</p>
    <p>Pour recontacter l'utilisateur : {{ email }} ou {{ phone }}</p>

    <p>Merci!</p>

{% endblock %}